@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--black);
  font-weight: 700;
  letter-spacing: -0.03em;

  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

.simply {
  font-style: italic;
}

.header-logo-icon {
  fill: transparent;
  stroke: var(--orange);
}

@media screen and (min-width: 1200px) {
  .header-logo-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-nav-wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-wrap {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav-wrap {
    gap: 90px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav-list {
    gap: 24px;
  }
}

.header-nav-link {
  display: inline-block;
  padding: 32px 0;

  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.social-link-list {
  display: flex;
  gap: 14px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--black);

  width: 40px;
  height: 40px;

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: color var(--animation), border-color var(--animation);
}

.social-link:hover,
.social-link:focus {
  color: var(--orange);
  border-color: rgba(253, 146, 34, 0.1);
}

.social-link .icon {
  fill: currentColor;
}

.menu-toggle {
    background-color: transparent;
    border: none;
}

.menu-toggle .icon{
    stroke: var(--black);
}

.menu-toggle:hover .icon,
.menu-toggle:focus .icon {
    width: 32px;
    height: 32px;
}


@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}


