:root {
  /* Colors */

  --black: #111111;
  --violet: #1e1823;
  --gray: #4c4c4c;
  --orange: #fd9222;
  --beige: #fcf1e0;
  --light: #fafafa;
  --white: #ffffff;
  --secondary-cl: rgba(255, 255, 255, 0.7);
}
